:root {
  --blue: #00a6ff;
  --green: #2cf6b3;
  --blush: #de6c83;
  --gray: #3f4a3c;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");
* {
  box-sizing: border-box;
}
html {
  font-family: "Roboto", sans-serif;
}

/*LAYOUT*/
#container {
  display: flex;
  flex-direction: column;
}

header {
  border: 1px solid var(gray);
  flex: 0 0 auto;
  padding: 1em;
}

#content {
  display: flex;
  flex-direction: row;
}

#left-column,
#right-column {
  background-color: lightgray;
  flex: 1 1 auto;
  width: calc(100% / 2);
}

footer {
  background-color: lightgray;
  flex: 0 0 auto;
}

h1,
h2 {
  margin: 0;
}
header {
  margin: 1rem;
}

main {
}

div,
section.ingame {
  border: 1px solid var(--gray);
  margin: 1rem;
  padding: 1rem;
}
.game-status p {
}

.letters-list {
  line-height: 3.5rem;
}
/* NOT ANSWERED = 2 = stays the same */
.letters-list li.status-0 {
  background: var(--blue);
}
/*RIGHT ANSWER = 1*/
.letters-list li.status-1 {
  background: var(--green);
}
/* wrong answer = 3 */
.letters-list li.status-2 {
  background: var(--blush);
}
/* pasapalabra = 3 = stays the same */
.letters-list li.status-3 {
  background: var(--blue);
}
.letters-list li {
  font-weight: 700;
  font-size: 2rem;
  color: white;
  text-align: center;
  width: 100px;
  height: 55px;
  background: var(--blue);
  position: relative;
  aspect-ratio: 1;
  display: inline-block;
  margin: 2rem;
}
.letters-list li:before {
  content: "";
  position: absolute;
  top: -25px;
  border-bottom: 25px solid var(--blue);
}
.letters-list li:after {
  content: "";
  position: absolute;
  bottom: -25px;
  border-top: 25px solid var(--blue);
}

.letters-list li:after,
.letters-list li:before {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  left: 0;
  width: 0;
  height: 0;
}

.round {
  display: none;
}

.game-end {
  display: none;
}
